<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Abstracts Solutions</title>
    <link rel="icon" href="/images/navigation/logo.png">



    <!-- components css-->
    <!-- header/footer css open-->
    <link rel="stylesheet" href="/stylesheet/components/Header-Footer/footer.css">
    <link rel="stylesheet" href="/stylesheet/components/Header-Footer/header.css">
    <!-- header/footer css close -->

    <!-- our partner css open -->
    <link rel="stylesheet" href="/stylesheet/components/our-partner.css">
    <!-- our partner css close -->

    <!-- tesimonials css open -->
    <link rel="stylesheet" href="/stylesheet/components/testimonials.css">
    <!-- tesimonials css close -->

    <!-- project overview image slider css open -->
    <link rel="stylesheet" href="/stylesheet/components/project-overview-slider.css">
    <!-- project overview image slider css close -->

    <!-- whatsapp integration css open -->
    <link rel="stylesheet" href="/stylesheet/components/whatsapp.css">
    <!-- whatsapp integration css close -->

    <!-- slide up open -->
    <link rel="stylesheet" href="/stylesheet/components/top-up.css">
    <!-- slide up close -->

    <!-- contact us open -->
    <link rel="stylesheet" href="/stylesheet/components/contact-us.css">
    <!-- contact us close -->

    <!-- components css close-->


    <!-- stylesheet open -->
    <link rel="stylesheet" href="/stylesheet/home.css">
    <link rel="stylesheet" href="/stylesheet/responsive/Res-home.css">

    <!-- services page css open -->
    <link rel="stylesheet" href="/stylesheet/services.css">
    <link rel="stylesheet" href="/stylesheet/responsive/res-services.css">
    <!-- services page css close -->

    <!-- project page css open -->
    <link rel="stylesheet" href="/stylesheet/project.css">
    <link rel="stylesheet" href="/stylesheet/responsive/res-project.css">
    <!-- project page css close -->

    <!-- pricing page css open -->
    <link rel="stylesheet" href="/stylesheet/pricing.css">
    <link rel="stylesheet" href="/stylesheet/responsive/Res-pricing.css">
    <!-- pricing page css close -->

    <!-- contact us page css open -->
    <link rel="stylesheet" href="/stylesheet/contact-us.css">
    <link rel="stylesheet" href="/stylesheet/responsive/contact-us.css">
    <!-- contact us page css close -->

    <!-- about us page css open -->
    <link rel="stylesheet" href="/stylesheet/about-us.css">
    <link rel="stylesheet" href="/stylesheet/responsive/about-us.css">
    <!-- about us page css close -->

    <!-- privacy-policy page open -->

    <link rel="stylesheet" href="/stylesheet/privacy-policy.css">

    <!-- privacy-policy page close -->


    <!-- stylesheet close -->


    <!-- package stylesheet open -->
    <!-- wordpress package open -->
    <link rel="stylesheet" href="/stylesheet/package/wordpress-website.css">
    <link rel="stylesheet" href="/stylesheet/responsive/package/res-wordpress.css">
    <!-- wordpress package close -->

    <!-- shopify package open -->
    <link rel="stylesheet" href="/stylesheet/package/shopify-website.css">
    <link rel="stylesheet" href="/stylesheet/responsive/package/shopify-website.css">
    <!-- shopify package close -->

    <!-- package stylesheet close -->


    <!-- 404 page css open -->
    <link rel="stylesheet" href="/stylesheet/404-page/404.css">
    <!-- 404 page css close -->

    <!-- preloader page css open -->

    <link rel="stylesheet" href="/stylesheet/preloader/preloader.css">

    <!-- preloader page css close -->

    <!-- effects open -->

    <!-- rocket-effect-open -->
    <link rel="stylesheet" href="/stylesheet/effects/rocket-effect.css">
    <!-- rocket-effect-close -->


    <!-- effects close -->


    <script src="https://kit.fontawesome.com/5a324b3ab7.js" crossorigin="anonymous"></script>
    <!-- google font path open -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Italiana&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Changa:wght@500&display=swap" rel="stylesheet">
    <!-- google font path close -->



    <!-- mouse follower cdn files open -->
    <link rel="stylesheet" href="https://unpkg.com/mouse-follower@1/dist/mouse-follower.min.css">
    <script src="https://unpkg.com/mouse-follower@1/dist/mouse-follower.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/gsap.min.js"></script>
    <script src="https://unpkg.com/mouse-follower@1/dist/mouse-follower.min.js"></script>
    <!-- mouse follower cdn files close -->


</head>

<body>