<!-- contact us form or text open -->

<section class="contact-us-form-text">
    <div class="contact-us-form-text-inner">
        <div class="contact-us-text">
            <hr>
            <h3>Fill The Form Our Team<br>
                Can Reach With In <span>24Hrs</span></h3>
        </div>

        <div class="contact-us-form">
            <h2>Let's <span>Taik</span></h2>
            <p>We're here to help. Whether you have questions,<br>
                feedback, or need assistance, please fill out the form<br>
                below and we'll get back to you as soon as possible.</p>
            <h4>PERSONAL DETAILS</h4>
            <form action="https://api.web3forms.com/submit" method="post" id="contact-form">
                <div class="contact-details" id="contact-details-1">
                    <input type="text" name="name" placeholder="Your Name *" required>
                    <input type="number" name="number" placeholder="Mobile Number *" required>
                </div>
                <div class="contact-details" id="contact-details-2">
                    <input type="email" name="email" placeholder="Work Email *" required>
                    <input type="text" name="company" placeholder="Company *" required>
                </div>
                <div class="contact-details" id="contact-details-3">
                    <textarea rows="5" name="message" placeholder="Your Message / Requirements *" required></textarea>
                </div>


                <button type="submit" name="access_key" value="369d6c57-82c2-41e3-8c61-11c2dad7380d">SUBMIT
                    REQUEST</button>
                <input type="hidden" name="from_name" value="contact Us Form">
                <input type="hidden" name="subject" value="contact Us form submited From the Website">
                <div class="h-captcha" data-captcha="true"></div>

            </form>
        </div>
    </div>
</section>

<script src="https://web3forms.com/client/script.js" async defer></script>


<script src="/javascript/components/contact-us.js"></script>

<!-- contact us form or text close -->