<section class="ourPartner">
    <h1>Our Partners</h1>
    <hr>
    <div class="OurParner-inner">
        <div class="ourpartner-logo" id="ourpartner-img-1">
            <img src="/images/our-partner/cash-magnet.jpg" alt="">
            <img src="/images/our-partner/4axis-surveyors.jpg" alt="">
            <img src="/images/our-partner/ved-associate.jpg" alt="">
            <img src="/images/our-partner/sahyadri-surveyors.jpg" alt="">
        </div>
        <div class="ourpartner-logo" id="ourpartner-img-2">
            <img src="/images/our-partner/ambit-project.jpg" alt="">
            <!-- <img src="" alt="">
            <img src="" alt="">
            <img src="" alt=""> -->
        </div>
    </div>
</section>


<script src="/javascript/components/our-partner.js"></script>


<!-- services our partner close -->