<!-- Project overview Open -->
<section id="Project-overview">
    <div id="project-overview-text">
        <p data-cursor-text="Our Work">OVERVIEW</p>
        <h3>Our Project Make Us Proud</h3>
    </div>

    <div id="project-back-next-arrow">
        <img src="/images/Home-page-images/left-arrow.png" alt="" class="BackBtn">

        <div id="project-slide-container">
            <div id="Projects-scroll">
                <div class="Projects" id="project1">
                    <div class="project-visit-button">
                        <button><a href="https://4axissurveyors.com/">Visit</a></button>
                    </div>
                    <div class="project-info">
                        <h4>Project Name</h4>
                        <p>subname</p>
                    </div>
                </div>
                <div class="Projects" id="project2">
                    <div class="project-visit-button">
                        <button><a href="https://vedassociate.com/">Visit</a></button>
                    </div>
                    <div class="project-info">
                        <h4>Project Name</h4>
                        <p>subname</p>
                    </div>
                </div>
                <div class="Projects" id="project3">
                    <div class="project-visit-button">
                        <button><a href="/project">Visit</a></button>
                    </div>
                    <div class="project-info">
                        <h4>Project Name</h4>
                        <p>subname</p>
                    </div>
                </div>
            </div>
            <div id="Projects-scroll">
                <div class="Projects" id="project4">
                    <div class="project-visit-button">
                        <button><a href="/project">Visit</a></button>
                    </div>
                    <div class="project-info">
                        <h4>Project Name</h4>
                        <p>subname</p>
                    </div>
                </div>
                <div class="Projects" id="project5">
                    <div class="project-visit-button">
                        <button><a href="/project">Visit</a></button>
                    </div>
                    <div class="project-info">
                        <h4>Project Name</h4>
                        <p>subname</p>
                    </div>
                </div>
                <div class="Projects" id="project6">
                    <div class="project-visit-button">
                        <button><a href="/project">Visit</a></button>
                    </div>
                    <div class="project-info">
                        <h4>Project Name</h4>
                        <p>subname</p>
                    </div>
                </div>
            </div>
        </div>
        <img src="/images/Home-page-images/right-arrow.png" alt="" class="NextBtn">
    </div>
</section>
<script src="/javascript/components/project-overview-slider.js"></script>

<!-- Project Overview close -->