<!-- testimonials open  -->
<section id="testimonials">
    <div id="testimonials-inner">
        <p id="testimonial-subheading" data-cursor-text="Feedback">TESTIMONIAL</p>
        <h3>What Client Say!</h3>
        <div id="next-backbtn-testimonials">

            <img src="/images/Home-page-images/left-arrow.png" alt="" class="testimonial-leftright-image" id="BackBtn">

            <div class="slider-div-testimonials">

                <div id="testimonials-content-1" class="testimonials-content">
                    <img src="/images/Home-page-images/double quote.png" alt="">
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sunt nobis id ad reiciendis
                        optio
                        laudantium, officia sint molestias maiores facilis? Molestias quisquam vero quidem!
                        Obcaecati!
                    </p>
                    <h5>Name Of The Person/ Position</h5>
                </div>

                <div id="testimonials-content-1" class="testimonials-content">
                    <img src="/images/Home-page-images/double quote.png" alt="">
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sunt nobis id ad reiciendis
                        optio
                        laudantium, officia sint molestias maiores facilis? Molestias quisquam vero quidem!
                        Obcaecati!
                    </p>
                    <h5>Name Of The Person/ Position</h5>
                </div>
                <div id="testimonials-content-1" class="testimonials-content">
                    <img src="/images/Home-page-images/double quote.png" alt="">
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sunt nobis id ad reiciendis
                        optio
                        laudantium, officia sint molestias maiores facilis? Molestias quisquam vero quidem!
                        Obcaecati!
                    </p>
                    <h5>Name Of The Person/ Position</h5>
                </div>
                <div id="testimonials-content-1" class="testimonials-content">
                    <img src="/images/Home-page-images/double quote.png" alt="">
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sunt nobis id ad reiciendis
                        optio
                        laudantium, officia sint molestias maiores facilis? Molestias quisquam vero quidem!
                        Obcaecati!
                    </p>
                    <h5>Name Of The Person/ Position</h5>
                </div>

            </div>

            <img src="/images/Home-page-images/right-arrow.png" alt="" class="testimonial-leftright-image" id="NextBtn">
        </div>
    </div>
</section>
<script src="/javascript/components/testimonials.js"></script>

<!-- testimonials close  -->