<div class="nav-container">
    <!-- navigation open-->
    <nav id="Navigation">
        <div class="nav-inner" id="logo">
            <img src="/images/navigation/logo.png" data-cursor-img="./images/logo.png">
        </div>
        <div class="nav-inner" id="pages">
            <ul>
                <li class="outer-li"><a href="/">Home</a></li>
                <li class="outer-li" id="pages-navbar"><a href="#">Pages<i class="fa-solid fa-angle-down"></i></a>
                    <ul class="submenu pages-submenu">
                        <li><a href="/services">Services</a></li>
                        <li><a href="/project">Demo Project</a></li>
                        <li><a href="/pricing">Pricing</a></li>
                        <li><a href="">Login & Ragister</a></li>
                    </ul>
                </li>
                <li class="outer-li" id="packages"><a href="#">Packages<i class="fa-solid fa-angle-down"></i></a>
                    <ul class="submenu packages-submenu" id="packages-submenu">
                        <li><a href="/packages/wordpress-package">Wordpress Website</a></li>
                        <li><a href="/packages/shopify-package">ShopifyEcom Website</a></li>
                        <li><a href="/pricing">Other</a></li>
                    </ul>
                </li>
                <li class="outer-li"><a href="/contact-us">Contact</a></li>
                <li class="outer-li"><a href="/about-us">About</a></li>
            </ul>
        </div>
        <div class="nav-inner" id="social">
            <i class="fa-solid fa-ellipsis-vertical"></i>
            <!-- <i class="fa-solid fa-xmark"></i> -->
            <button><a href="tel:+91-8975205712">Free Call</a></button>
        </div>
    </nav>
</div>
<!-- navigation close -->

<script src="/javascript/components/header.js"></script>