        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        .rocket-effect {
            width: 100%;
            position: fixed;
            z-index: 200;
            bottom: -200px;
            transition: 0.8s all linear;
        }

        .rocket-effect-click {
            bottom: 100%;
        }

        .rocket-effect-image {
            height: 150px;
            width: 150px;
            margin: auto;
            background: url(/images/effects/rocket-effect/rockate.png) center no-repeat;
            background-size: 130%;
        }